/* -- import Roboto Font ------------------------------ */

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";


/* Custom container */

.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */

.navbar-inverse {
  background-color: #1e3306;
  border-color: #DDD;
}
 .navbar-nav>li>a {
  padding: 30px 30px;
}
.navbar-nav>.active>a {
  opacity: 0.6;
}

.navbar-inverse .navbar-brand:hover {
  color: #609b8b;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}



/* -- box model --------------------------------------- */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -- Base style -------------------------------------- */

html {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: #eefdcf;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* -- Google typography ------------------------------- */

.title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
.caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;
  color: #e0e6cf;
  text-transform: inherit;
  letter-spacing: inherit;
}

/* -- Dashboard --------------------------------------- */

.dashboard {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 5px;
  margin: 0;
}

.dash {
  margin: 60px auto;
  width: 1130px;
}
.dashboard > * {
  display: block;
  float: left;
  margin: 5px;
}

/* -- Tiles ------------------------------------------- */

.tile {
  color: #212121;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.tile:hover, .tile:active, .tile.active, .tile:focus, .tile:active:focus, .tile.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* -- Tiles content ----------------------------------- */

.tile .content-wrapper {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.tile .content-wrapper .tile-content {
  position: relative;
  display: block;
  overflow: hidden;
}
.tile .content-wrapper .tile-content .tile-img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-sm {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  opacity: 0.3;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-bg {
  position: absolute;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
}
.tile .content-wrapper .tile-content .tile-holder {
  position: relative;
  display: block;
  padding: 0;
}
.tile .content-wrapper .tile-content .tile-holder.tile-holder-sm {
  position: absolute;
  margin: 0;
  padding: 0;
}

/*-- Tiles size --------------------------------------- */

.tile {
  width: 270px;
  height: 130px;
}
.tile .content-wrapper .tile-content {
  height: 130px;
  padding: 10px;
}
.tile .content-wrapper .tile-content .tile-img {
  height: 86.66666667px;
}
.tile .content-wrapper .tile-content .tile-img-bg {
  width: 270px;
  height: 130px;
  margin-left: -10px;
  margin-top: -10px;
}
.tile .content-wrapper .tile-content .tile-img-sm {
  width: 65px;
  height: 43.33333333px;
}
.tile .content-wrapper .tile-content .tile-img-sm, .tile .content-wrapper .tile-content .tile-holder-sm {
  bottom: 10px;
  left: 10px;
}
.tile.tile-sqr {
  width: 130px;
}
.tile.tile-sqr .content-wrapper .tile-content .tile-img-bg {
  width: 130px;
}
.tile-lg {
  width: 550px;
  height: 270px;
}
.tile-lg .content-wrapper .tile-content {
  height: 270px;
  padding: 20px;
}
.tile-lg .content-wrapper .tile-content .tile-img {
  height: 180px;
}
.tile-lg .content-wrapper .tile-content .tile-img-bg {
  width: 550px;
  height: 270px;
  margin-left: -20px;
  margin-top: -20px;
}
.tile-lg .content-wrapper .tile-content .tile-img-sm {
  width: 135px;
  height: 90px;
}
.tile-lg .content-wrapper .tile-content .tile-img-sm, .tile-lg .content-wrapper .tile-content .tile-holder-sm {
  bottom: 20px;
  left: 20px;
}
.tile-lg.tile-sqr {
  width: 270px;
}
.tile-lg.tile-sqr .content-wrapper .tile-content .tile-img-bg {
  width: 270px;
}
.tile-sm {
  width: 130px;
  height: 60px;
}
.tile-sm .content-wrapper .tile-content {
  height: 60px;
  padding: 5px;
}
.tile-sm .content-wrapper .tile-content .tile-img {
  height: 40px;
}
.tile-sm .content-wrapper .tile-content .tile-img-bg {
  width: 130px;
  height: 60px;
  margin-left: -5px;
  margin-top: -5px;
}
.tile-sm .content-wrapper .tile-content .tile-img-sm {
  width: 30px;
  height: 20px;
}
.tile-sm .content-wrapper .tile-content .tile-img-sm, .tile-sm .content-wrapper .tile-content .tile-holder-sm {
  bottom: 5px;
  left: 5px;
}
.tile-sm.tile-sqr {
  width: 60px;
}
.tile-sm.tile-sqr .content-wrapper .tile-content .tile-img-bg {
  width: 60px;
}


/* -- Ripple-effect ----------------------------------- */

.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}
@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
