@import 'green-orange-material.css';
@import 'news.css';
@import url(https://fonts.googleapis.com/css?family=Anton);

.fcc-image {
  height: 60px;
  width: 240px;
}

.avatar {
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 50%;*/
  border-radius: 22px;
}

.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
    border: 1px #ddd;
    background-color: #f5f5f5;
}

h3 {
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #555;
}
.author-link {
  color: #757575;
  text-decoration: none;
}
.author-link:hover {
  text-decoration: underline;
}

.mdl-card:hover,
.mdl-card:active,
.mdl-card.active,
.mdl-card:focus,
.mdl-card:active:focus,
.mdl-card.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
