@import 'green-orange-material.css';
@import 'news.css';
@import url(https://fonts.googleapis.com/css?family=Anton);

.fcc-image {
  height: 60px;
  width: 240px;
}


.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: #f5f5f5;
    line-height: 64px;
    padding: 0 12px;
}

.mdl-navigation__link {
  font-size: 16px;
}

.add,
.search {
  color: #FFF;
}


.minilogo {
  border-radius: 50px;
}
.avatar {
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 50%;*/
  border-radius: 50px;
}

.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
    border: 1px #ddd;
    background-color: #f5f5f5;
}

.mdl-upvote-btn {
  margin-right: 0px;
}

.demo-blog .mdl-card h3 {
    padding: 0 10px;
    background-color: #f5f5f5;
  }

h3 a {
  font-family: 'Anton', sans-serif;
  color: #333;
}
.author-link {
  color: #757575;
  text-decoration: bold;
}
.author-link:hover {
  text-decoration: underline;
}

.mdl-card:hover,
.mdl-card:active,
.mdl-card.active,
.mdl-card:focus,
.mdl-card:active:focus,
.mdl-card.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.noImg {
  background-image: url(http://libertymontano.com/FCCfiles/CamperNews/img/mat/1.png);
}
